<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452326262426-o15c37en0fs69t6ohsocanopsklq2tvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452326262426-o15c37en0fs69t6ohsocanopsklq2tvf</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ApLl79aS_p97BOBK7ggJQHNpTvgQEUo</string>
	<key>GCM_SENDER_ID</key>
	<string>452326262426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decentral.Grem</string>
	<key>PROJECT_ID</key>
	<string>grem-customlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>grem-customlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452326262426:ios:877f7daee4fac7e5ef8123</string>
	<key>DATABASE_URL</key>
	<string>https://grem-customlogin.firebaseio.com</string>
</dict>
</plist>